<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">My Journey In Short!.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Tata.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-Present</h4>
                                    <h4 class="subheading">INFORMATICA DEVELOPER, Tata Consultancy Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working on Data Tokenization for Enterprise Dataware House using Protegrity</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/data.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-2017</h4>
                                    <h4 class="subheading">Training On DataAnalysis</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Created a tool, for rectifying the reduandant data from BirthRatio DataBase.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ycce.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-1016</h4>
                                    <h4 class="subheading">Bachelor of Engineering (ECE)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Completed One Of Milestone Of My Dream From YCCE Nagpur</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gp.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2013</h4>
                                    <h4 class="subheading">Diploma of Engineering (ECE)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Start Of Engineering Carrier From Goverment Polytechnic Nagpur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>The
                                    <br>Day
                                    <br>I Born!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>